language: csharp
mono: none
dotnet: 3.1
dist: xenial
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true
    - DOTNET_CLI_TELEMETRY_OPTOUT=true
branches:
  only:
  - master
script:
    - dotnet test
matrix:
  include:
    - os: linux
      dist: xenial
    - os: osx
      dotnet: 3.1.301
      osx_image: xcode12